{% extends 'base.html.twig' %}

{% block title %}Edit DemandeTitrevehicule{% endblock %}

{% block body %}
    <h1>Edit DemandeTitrevehicule</h1>

    {{ include('demande_titre_vehicule/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_demande_titre_vehicule_index') }}">back to list</a>

    {{ include('demande_titre_vehicule/_delete_form.html.twig') }}
{% endblock %}
