{% extends 'base.html.twig' %}
{% block title %}Lieu de retrait du titre{% endblock %}

{% block container %}
    <h1 class="container-title">Choisir le lieu de retrait</h1>

    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
    {{ form_row(form.card_place) }}
    <button class="btn btn-cleo mt-2">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
