{# <form method="post" action="{{ path('app_demande_titre_circulation_delete', {'id': demande_titre_circulation.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette demande ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande_titre_circulation.id) }}">
    <button class="btn">Delete</button>
</form> #}
