{% extends 'base.html.twig' %}

{% block title %}Informations Complementaire | Fluxel{% endblock %}

{% block body %}

    {{ include('info_complementaire/_form.html.twig') }}

    {# <a href="{{ path('app_info_complementaire_index') }}">back to list</a> #}
{% endblock %}
