{% extends 'base.html.twig' %}

{% block title %}Adresse Entreprise | Fluxel{% endblock %}

{% block body %}
    {# <h1>Create new AdresseEntreprise</h1> #}

    {{ include('sdri/adresse_entreprise/_form.html.twig') }}

    {# <a href="{{ path('app_adresse_entreprise_index') }}">back to list</a> #}
{% endblock %}
