{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <h1>Edit Produit</h1>

    {{ include('admin/produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_index') }}" class="text text-danger">Retour</a>

    {{ include('admin/produit/_delete_form.html.twig') }}
{% endblock %}
