{% extends '@MultiStepBundle/base.html.twig' %}

{% block title %}Import des retours sneas{% endblock %}

{% block container %}
<div class="container-title">Import des retours sneas</div>
<form method="POST" action="{{ path('person_access_validate_investigation') }}">
    <textarea name="cesarStepIds" rows="10" cols="50">{{ cesarStepIds }}</textarea>
    <button type="submit">Valider</button>
</form>
{% endblock %}
