{% extends 'base.html.twig' %}

{% block title %}Adresse | Fluxel{% endblock %}

{% block body %}

    {{ include('adresse/_form.html.twig') }}

    {# <a href="{{ path('app_adresse_index') }}">back to list</a> #}
{% endblock %}
