framework:
  messenger:
    transports:
        async: '%env(MESSENGER_TRANSPORT_DSN)%'
    routing:
      App\AdminBundle\SubBundles\ExportingSubBundle\Application\Message\GeneratePdfMessage: async_pdf
