<h2>Inscription refusée ❌</h2>

<p>Bonjour {{ user.email }},</p>

<p>Votre inscription a été refusée par votre référent sécurité.</p>

<p>Si vous pensez qu’il s’agit d’une erreur, contactez votre administrateur ou votre référent.</p>

<p>Cordialement,<br>L’équipe Cleo</p>
