<h2>Inscription validée ✅</h2>

<p>Bonjour {{ user.email }},</p>

<p>Votre inscription a été validée par votre référent sécurité. Vous pouvez maintenant accéder à toutes les fonctionnalités de la plateforme.</p>

<p>Bonne utilisation !<br>L’équipe Cleo</p>
