{% extends 'base.html.twig' %}

{% block title %}Etat Civil | Fluxel{% endblock %}

{% block body %}
    {# <h1>Edit EtatCivil</h1> #}

    {{ include('etat_civil/_form.html.twig', {'button_label': 'Suivant'}) }}

    {# <a href="{{ path('app_etat_civil_index') }}">back to list</a> #}

    {# {{ include('etat_civil/_delete_form.html.twig') }} #}
{% endblock %}
