<div class="flex justify-between">
    {% if currentPage > 1 %}
        <a class="px-4 py-2 bg-gray-200 rounded" href="?page={{ currentPage - 1 }}">Previous</a>
    {% endif %}

    <span>Page {{ currentPage }} of {{ pagesCount }}</span>

    {% if currentPage < pagesCount %}
        <a class="px-4 py-2 bg-gray-200 rounded" href="?page={{ currentPage + 1 }}">Next</a>
    {% endif %}
</div>
